<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextAdventureClases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TextAdventureClases.Properties.Settings>
            <setting name="HealthMax" serializeAs="String">
                <value>1000000000</value>
            </setting>
            <setting name="HealthPerLevel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LevelMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StrengthMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DefenseMax" serializeAs="String">
                <value>100</value>
            </setting>
        </TextAdventureClases.Properties.Settings>
    </applicationSettings>
</configuration>